@import "tailwindcss";

.root {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "2022";
  src:
    url("/2022_font.otf") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

.roses-title-text {
  font-family: "2022", sans-serif;
  font-weight: 900;
  font-style: "italic";
  color: #dd0000;
}

.roses-body-text {
  font-family: "2022", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #f33;
}
